@media screen and (max-width: 1024px){
    .menu-baricon{
        display: block;
        width: 80px;
        height: 80px;
        margin: 30px 40px;
        border-radius: 50%;
        background-color: rgb(44, 44, 68);
        opacity: 0.8;
        justify-content: center;
    }

    .menu-baricon svg:hover{
       cursor: pointer;
    }

    .menu-baricon svg{
       color: white;
       margin: 9px ;
    }

    .buttondiv{
        display: block;
    }

    .navbar{
        display: none;
    }

    .firstheader{
        margin-top: 100px;
    }

    .buttondiv{
        display: block;
        height: 60px;
        width: 100%;
        margin-top: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .applybtn{
        margin: auto;
        width: 20%;
        height: 100%;
        background-color: white;
        border-color: rgb(44, 44, 68);
        border-radius: 5px;
        font-size: 20px;
        font-weight: 1000;
        color: rgb(44, 44, 68);
    }

    .applybtn:hover{
        background-color: rgb(44, 44, 68);
        color: white;
        cursor: pointer;
    }


    /* Workforce section*/
    .hiringsection{

    }

    .workforce{
        flex-direction: column;
        margin-top: 5px;
    }

    .workforce1{
        width: 100%;
        flex-direction: row;
        
    }

    .workforce2{
        width: 100%;
        flex-direction: row;
    }

    .methodology{
        border-bottom-left-radius: 0px;
    }

    .workwithus{
        border-top-right-radius: 10px;
    }

    .outreachprograms{
        border-bottom-left-radius: 10px;
    }

    .events{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
    }


    /*Work with us Section*/
    .workwithusul{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .firstjobset{
        width:100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .secondjobset{
        width: 100%;
        display: flex;
        text-align: center;
        margin-top: 10px;
        justify-content: center;
    }

    .containerworkwithusection ul li{
        width: 50%;
    }

    .containerworkwithusection ul li .image-holder{
        width: 100%;
        height: 100%;
    }

    .containerworkwithusection ul li .image-holder img{
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 412px){

    section{
        width: 100vw;;
    }

    .menu-baricon{
        width: 40px;
        height: 40px;
        justify-content: center;
        text-align: center;
    }

    .menu-baricon svg{
        width: 30px;
        height: 30px;
        margin: 5px auto; 
    }

    .firstheader{
        width: 100vw;
        height: 300px;
        margin-top: 25px;
    }

    .buttondiv{
        margin-top: 50px;
    }

    .applybtn{
        width: 40%;
    }


    .hiringsection{
        width: 100vw;
    }


    .workforce1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .methodology, .workwithus{
        width: 100%;
    }

    .methodology{
        border-top-right-radius: 10px;
    }

    .workwithus{
        border-top-right-radius: 0px;
    }

    .workforce2{
        display: flex;
        flex-direction: column; 
    }

    .outreachprograms, .events{
        width: 100%;
    }

    .outreachprograms{
        border-bottom-left-radius: 0px;
    }

    .events{
        border-bottom-left-radius: 10px;
    }

    /*Welcome*/

    .container{
        height: fit-content;
    }

    .container2{
        margin-top: 100px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        /* border: 2px solid yellow; */
    }

    .row{
        display: flex;
        flex-direction: column;
        margin: 0 auto 30px;
        height: fit-content;
        box-shadow: 2px 2px 5px 1px rgba(134, 134, 134, 0.1);
        /* border: 2px solid green;*/
    }
    
    .counter{
        width: 100%;
        /* border: 2px solid red; */
        padding: 0;
    }

    .year{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

    .training{
        border-top-right-radius: 0px;
        border-top-left-radius: 10px;
    }

    .year, .total, .countries{
        border-bottom: 1px solid rgb(138, 138, 138);
    }



    /*Work with us Section*/
    .workwithusection{
        width: 100vw;
    }

    .workwithusul{

    }

    .firstjobset{
        display: flex;
        flex-direction: column;  
    }

    .secondjobset{
        display: flex;
        flex-direction: column;
    }

    .workwithusul .firstjobset li{
        width: 100%;
        margin-bottom: 5px;
    }

    .workwithusul .secondjobset li{
        width: 100%;
        margin-bottom: 5px;
    }

    .image-holder{
        width: 100%;
    }



 }