        body, html{
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.8em;
            color: #000000;
            background-color: rgb(255, 255, 255);
        }

        body{
            height: 100vh;
        }

        .firstheader{
           margin-top: -20px;
           height: 600px;
        }

        .picture{
            background-color: rgb(255, 255, 255);
            text-align: center;
            width: 100%;
            height: 50%;
            padding-top: 80px;
            margin-top: 15px;
        }

        .picture img{
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0px auto 0px auto;  
        }

        .navbar{
            position: sticky;
            top: 0;
            margin: 20px auto 0px auto;
            width: 65%;
            height: 55px;
            background-color: rgb(44, 44, 68);
            text-align: center;
        }

        .navbarin{
            width: 100%;
            padding-top: 0.3px;
            display: flex;
            text-align: center;
        }

        img{
            margin-right: auto;
            margin-left: auto;

        }

        ul{
            list-style: none;
            text-align: center;
            display: flex;
            width: match-parent;
            margin: auto auto;
            padding: 0px 0px;
        }

        li{
            text-align: center;
            padding: 19px 70px;

        }

        a{
            color: white;
            text-decoration: none;
        }

        .sub-menu-1{
            display: none;
        }

        .navbarin ul li:hover .sub-menu-1{
            display: block;
            position: absolute;
            background-color: rgb(44, 44, 68);
            margin-top: 15px;
            margin-left: -5px;
        }

        .navbarin ul li:hover .sub-menu-1 ul{
            display: block;
            margin: 10px;
        }

        .hiringsection{
            margin-top: -130px;
        }

        .hiring{
            text-align: center;
        }

        .hiring{
            width: 100%;
            margin-top: 0px;
        }

        .workforce{
            height: 300px;
            width: 1200px;
            border-radius: 10px;
            background-color: black;
            margin: -90px auto 0px auto;
            display: flex;
        }

        .work{
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .work p{
            color: white;
            font-size: large;
            justify-content: center;
        }

        .work p strong{
            font-size: larger;
        }

        .methodology{
            background-color: rgb(126, 99, 133);
            text-align: center;
            border-left: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .workwithus{
            background-color: rgb(99, 133, 126);
            text-align: center;
        }

        .outreachprograms{
            background-color: rgb(63, 125, 180);
            text-align: center;
        }

        .events{
            background-color: rgb(255, 100, 100);
            text-align: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .welcome{
            margin-bottom: 0px;
            text-align: center;
            width: 100%;
            background-color: rgb(255, 254, 254);
        }

        .container{
            margin: 100px auto 0 auto;
            width: 100%;
            /* background: yellow; */
            height: 200px;
        }

        .container p{
            font-size: large;
        }

        .container2{
           margin-top: 10px;
           width: 100%;
           height: 300px;
           margin-bottom: 0px;
        }

        .row{
            margin-top: -50px;
            background-color: white;
            margin: -60px auto 30px auto;
            display: flex;
            height: 200px;
            width: 60%;
            border-radius: 10px;
            box-shadow: 2px 2px 5px 1px rgba(134, 134, 134, 0.1);
        }

        .counter{
            width: 25%;
            /* background-color: blue; */
            border-right: 2px solid rgb(107, 106, 106, 0.1);
            padding: 20px;
            display: flex;
            justify-content: center;
           
        }

        .year{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .training{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .counter-number{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .counter-number h1{
            display: flex;
            margin-bottom: 25px;
            font-weight: 900;
            width: 100%;
            justify-content: center;
        }

        .counter-number p{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        .workwithusection{
            background: rgba(var(--primary-color-rgb),.05);
            width: 100%;
            height: 100vh;
            text-align: center;
        }

        .containerworkwithusection{
            max-width: 1170px;
            padding: 0 15px;
            margin: 0 auto;
        }

        .header-part{
            width: 80%;
            margin: 0 auto 56px auto;
        }

        .workwithusul{
            display: flex;
            margin: 0 -6px 50px;
            padding: 0;
            box-sizing: border-box;
        }

        .containerworkwithusection ul li{
            float: none;
            width: 25%;
            list-style: none;
            padding: 0 6px;
            margin-bottom: 12px;
            text-align: center;
        }

        .containerworkwithusection ul li .image-holder{
            display: flex;
            height: 100%;
            flex-direction: column;
            box-shadow: 0 4px 16px rgba(2,9,19,.04);
            border-radius: 4px;
            position: relative;
            overflow: hidden;
        }

        .containerworkwithusection ul li .image-holder img{
            width: 100%;
            vertical-align: top;
            
        }












        
        


